bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/config/applicationhost.config
/Rooster.Protos/Class1.cs
/.idea/.idea.Rooster/.idea/contentModel.xml
/.idea/.idea.Rooster/.idea/encodings.xml
/.idea/.idea.Rooster/.idea/indexLayout.xml
/.idea/.idea.Rooster/.idea/modules.xml
/.idea/.idea.Rooster/.idea/projectSettingsUpdater.xml
/.idea/.idea.Rooster/.idea/vcs.xml
/.idea/.idea.Rooster/.idea/workspace.xml
